

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

#id_comment{
    width: 40%;
    height: 40px;
    min-width: 250px;
}
#div_id_comment{
    display: flex;
    align-items: center;
    flex-direction: row;
}