{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %}
    add_article
{% endblock %}

{% block content %}
{% if messages %}

    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endfor %}

{% endif %}

    
    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{form.media}} -->
        {{form|crispy}}

        <button type="submit" class="btn btn-danger mt-3">Sumbit</button>
    </form>
{% endblock %}