{% extends 'base.html'%}

{% block title %}
    {{ category_name }}
{% endblock %}
   
{% block content %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endfor %}

    {% for article in articles %}
    <h1>Articles about {{category_name}}</h1>
        <div class="card mb-3" >
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ article.picture.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'article_detail' articleSlug=article.slug %}">{{ article.header }}</a>
                </h5>
                <p class="card-text"></p>{{ article.content|truncatechars:200 }}
                <p class="card-text"><small class="text-muted"> {{article.updated_date|timesince}}  ago</small></p>
                {% if request.user == article.author%}
                    <p>
                        <a style="width: 80px;" class="btn btn-danger" href="{%url 'edit_article' articleSlug=article.slug %}">Edit</a>
                        <a class="btn btn-primary" href="{%url 'delete_article' articleSlug=article.slug %}">Delete</a>
                    </p>
                {% endif %}
            </div>
            </div>
            </div>
        </div>
    {% empty %}
        <h1>There is no article...</h1>
    {% endfor %}
        
    

    

    <nav aria-label="Page navigation example">
        {% if page_obj.has_other_pages %}
            <ul class="pagination justify-content-end">
                
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ articles.previous_page_number}}" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                    </li>
                {% endif %}
                    
            
            
                {% for i in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == i %} active {% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number}}"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                {% endif %}

        {% endif %}
                
            
        </ul>
    </nav>
{% endblock %}