{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {{article.header}}
{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
    {% endfor %}
        <div class="card mb-3" >
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ article.picture.url }}" class="img-fluid rounded-start" alt="...">
            </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">
                        {{ article.header }}
                    </h5>
                    <p class="card-text"></p>{{ article.content }}
                    <p class="card-text"><small class="text-muted"> {{article.updated_date|timesince}}  ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        
        {% if request.user.is_authenticated %}
            <form style="display: flex; align-items: center !important; justify-content: center;" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button style="height: 40px !important; " type="submit" class="btn btn-danger mt-2">Add Comment</button>
            </form>
        {% endif %}
            
       
        
        {% for comment in comments %}
            <div class="container mt-3">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-8">
                        <div class="d-flex flex-column comment-section">
                            <div class="bg-white p-2">
                                <div class="d-flex flex-row user-info">
                                    
                                    {% if comment.author.picture %}
                                        <img style="border-radius: 50%; width: 40px; height: 40px;" class="rounded-circle" src="{{comment.author.picture.url}}" width="40">
                                    {% else %}
                                        <img style="border-radius: 50%; width: 40px; height: 40px;" class="rounded-circle" src="{% static 'image/profile.png' %}" width="40">
                                    {% endif %}
                                        
                                    
                                    <div class="d-flex flex-column justify-content-start ml-2"><span style="margin-left: 20px;" class="d-block font-weight-bold name">{{comment.author.username}}</span><span style="margin-left: 20px;" class="date text-black-50">Shared publicly - {{comment.created_date|timesince}} ago</span></div>
                                </div>
                                <div class="mt-2">
                                    <p class="comment-text">{{comment.comment}}</p>
                                    
                                    {% if comment.author == request.user or request.user == article.author %}
                                        <p class="comment-text">
                                            <a style="color: red; font-size: 18px;" href="{% url 'delete_comment' comment_id=comment.id %}"><i class="fas fa-trash-alt"></i></a>
                                        </p>
                                    {% endif %}
                                        
                                   
                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="d-flex flex-row fs-12">
                                    <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                    <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                    <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        {% empty %}
            
            <span>No Comment...</span>
            
        {% endfor %}
            
      
        


{% endblock %}