{% extends 'base.html'%}

{% block title %}
    My Articles
{% endblock %}

{% block content %}
    
    {% for article in articles %}
        <div class="card mb-3" >
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ article.picture.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ article.header }}</h5>
                <p class="card-text"></p>{{ article.content|truncatechars:200 }}
                <p class="card-text"><small class="text-muted"> {{article.updated_date|timesince}}  ago</small></p>
                </div>
            </div>
            </div>
        </div>
    {% empty %}
        <h1>There is no article...</h1>
    {% endfor %}
        
    

    

    <nav aria-label="Page navigation example">
        {% if articles.has_other_pages %}
            <ul class="pagination justify-content-end">
                
                {% if articles.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ articles.previous_page_number}}" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-angle-double-left"></i></a>
                    </li>
                {% endif %}
                    
            
            
                {% for i in articles.paginator.page_range %}
                    <li class="page-item {% if articles.number == i %} active {% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    
                {% endfor %}

                {% if articles.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ articles.next_page_number}}"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                    </li>
                {% endif %}

        {% endif %}
                
            
        </ul>
    </nav>
{% endblock %}