<div class="col-sm-3">
    <div class="card">
        <div class="card-header">
          Menu
        </div>
        <ul class="list-group list-group-flush">
          
          {% if request.user.is_authenticated %}
            <li class="list-group-item"><a href="{% url 'profile_edit' %}">My Profile</a></li>
            <li class="list-group-item"><a href="{% url 'change_password' %}">Change Password</a</li>
            <li class="list-group-item"><a href="{% url 'add_article' %}">Add Article</a></li>
            <li class="list-group-item"><a href="{% url 'myarticles' %}">My Articles</a></li>
            <li class="list-group-item"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li class="list-group-item">Login</li>
            <li class="list-group-item"><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
    </div>
</div>